footer {
  color: #fff;
  margin-top: 6em;
  background: #010317;
  padding: 3.7em 0 0;
  font-size: 0.9em;

  h3 {
    margin: 0 0 0.2em;
  }

  p {
    margin: 3px 0;
  }

  a {
    color: #bacfeb;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: #fff;
    }
  }

  ul {
    padding: 0;
    list-style-type: none;
  }
  li {
    padding-bottom: 0.4em;

    @media (max-width: 600px) {
      padding-bottom: 0.9em;
    }
  }

  @media (max-width: 767px) {
    text-align: center;
  }
}

.footer__bottom {
  padding-bottom: 3em;
  color: #4a6282;
  font-size: 0.9em;

  ul {
    margin: 1em 0;
  }

  li {
    display: inline-block;
    padding: 0 0.4em;
  }
}

.footer_divider {
  height: 1px;
  margin: 3em 0 2em;
  display: block;
  background: rgb(239 246 255 / 23%);
}

.footer__icon-container {
  @media (min-width: 768px) {
    float: right;
  }
}
.footer__right {
  @media (min-width: 768px) {
    text-align: right;
  }
}

.footer__social-icons {
  margin-top: 1.5em;
}
